extends layout
block content
   #banner.page-header 
      .row
         .col-lg-6
            h1 
               | MekanBul 
               small &nbsp : Civardaki mekanları keşfet
   .row
      .row.list-group
      .col-xs-12.col-sm-12
         .col-xs-12.list-group-item
            h4
               a(href='/mekan') Zater Döner  
               small &nbsp;
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 10km
            p.address Çarşı Merkez
            p
               span.label.label-warning Zurna Döner 
               | &nbsp;
               span.label.label-warning Hatay soslu Döner  
      .row.list-group
      .col-xs-12.col-sm-12
         .col-xs-12.list-group-item
            h4
               a(href='/mekan') Köfteci Yusuf  
               small &nbsp;
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 500m
            p.address Çünür
            p
               span.label.label-warning Köfteler
               | &nbsp;
               span.label.label-warning Dürümler
               | &nbsp;
               span.label.label-warning Kendi çiftliğimizdeki atlardan köfteler
         .row.list-group
      .col-xs-12.col-sm-12
         .col-xs-12.list-group-item
            h4
               a(href='/mekan') Starbucks   
               small &nbsp;
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               
            span.badge.pull-right.badge-default 4km
            p.address Centrum Garden AVM
            p
               span.label.label-warning Kekler 
               | &nbsp;
               span.label.label-warning Pastalar 
               | &nbsp;
               span.label.label-warning Kahveler
   

            