extends layout

block content  
   .row.page-header
      .col-lg-12 
         h1 Köfteci Yusuf
   .row 
      .col-xs-12.col-nd-12 
         .row 
            .col-xs-12.col-sm-6 
               p.rating 
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               p Çünür
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Açılış Saatleri 
                  .panel-body
                     p 
                        | Pazartesi-Cuma : 07:00-23:00
                     p 
                        | Cumartesi-Pazar : 09:00-22:00
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Neler var?
                  .panel-body 
                     span.label.label-warning Köfteler
                     | &nbsp 
                     span.label.label-warning Dürümler 
                     | &nbsp
                     span.label.label-warning İçecekler 
                     | &nbsp
            .col-xs-12.col-sm-6 
               .panel.panel-primary 
                  .panel-heading
                     h2.panel-title Konum Bilgisi 
                  .panel-body 
                     -var enlen=37.78
                     -var boylan=30.56
                     img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
   .row
      .col-xs-12 
         .panel.panel-primary 
            .panel-heading 
               a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle 
               h2.panel-title Müşteri Yorumları
            .panel-body.review-container 
               .row 
                  .review 
                     .well.well-sm.review-header 
                        span.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.review-author Erdi KIZGIR   
                        small.reviewTimestamp &nbsp; 12 Ekim 2022
                     .col-xs-12 
                        p Köfteler mükemmel.
   .row.page-header
      .col-lg-12 
         h1 Starbucks 
   .row 
      .col-xs-12.col-nd-12 
         .row 
            .col-xs-12.col-sm-6 
               p.rating 
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               span.glyphicon.glyphicon-star-empty
               p Centrum Garden AVM 
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Açılış Saatleri 
                  .panel-body
                     p 
                        | Pazartesi-Cuma : 07:00-23:00
                     p 
                        | Cumartesi-Pazar : 09:00-22:00
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Neler var?
                  .panel-body 
                     span.label.label-warning Kekler
                     | &nbsp 
                     span.label.label-warning Kahveler 
                     | &nbsp
                     span.label.label-warning Pastalar
                     | &nbsp
            .col-xs-12.col-sm-6 
               .panel.panel-primary 
                  .panel-heading
                     h2.panel-title Konum Bilgisi 
                  .panel-body 
                     -var enlen=37.78
                     -var boylan=30.56
                     img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
   .row
      .col-xs-12 
         .panel.panel-primary 
            .panel-heading 
               a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle 
               h2.panel-title Müşteri Yorumları
            .panel-body.review-container 
               .row 
                  .review 
                     .well.well-sm.review-header 
                        span.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                        span.glyphicon.glyphicon-star-empty 
                        span.review-author Erdi KIZGIR   
                        small.reviewTimestamp &nbsp; 12 Ekim 2022
                     .col-xs-12 
                        p Kahveler güzel.   
   .row.page-header
      .col-lg-12 
         h1 Arabica
   .row 
      .col-xs-12.col-nd-12 
         .row 
            .col-xs-12.col-sm-6 
               p.rating 
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               span.glyphicon.glyphicon-star
               p Batı Kampüsü
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Açılış Saatleri 
                  .panel-body
                     p 
                        | Pazartesi-Cuma : 07:00-23:00
                     p 
                        | Cumartesi-Pazar : 09:00-22:00
               .panel.panel-primary 
                  .panel-heading 
                     h2.panel-title Neler var?
                  .panel-body 
                     span.label.label-warning Irısh Mocha
                     | &nbsp 
                     span.label.label-warning Arabica Latte  
                     | &nbsp
                     span.label.label-warning Filtre Kahve 
                     | &nbsp
            .col-xs-12.col-sm-6 
               .panel.panel-primary 
                  .panel-heading
                     h2.panel-title Konum Bilgisi 
                  .panel-body 
                     -var enlen=37.78
                     -var boylan=30.56
                     img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
   .row
      .col-xs-12 
         .panel.panel-primary 
            .panel-heading 
               a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle 
               h2.panel-title Müşteri Yorumları
            .panel-body.review-container 
               .row 
                  .review 
                     .well.well-sm.review-header 
                        span.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                        span.review-author Erdi KIZGIR   
                        small.reviewTimestamp &nbsp; 12 Ekim 2022
                     .col-xs-12 
                        p Kahveler şahane.          